*{
    text-align: center;
}

body{
    margin: 0;
    background: #4e4d4d;
    color: white;
    display: grid;
    grid-template-columns: 3fr 10fr;
    width:100vw;
}

nav{
    padding: 20px 15%; 
    border-right: solid 1px white;
    height:100vh
}

nav section {
    justify-content: space-around;
    width: 80%;
    margin: auto;

}
nav div{
    margin-bottom: 20px;
}

.metros{
    display: grid;
    margin: 2px;
    padding: 1rem;
}


#Propiedades {
    display: grid;
}


.propiedades{
    display: grid;
    padding: 2rem;
}

#form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: rgba(255, 255, 255, 0.068);
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.39);
}

.packs {
    display:grid;
    gap: 15px;
    padding: 1rem;
}

.box{
    display: grid;
    padding: 0.5rem;    
}

.boxes { 
    display: grid; 
    justify-content: space-around;
    align-items: center;
}

.imagen img{
    height: 200px;
    width: 250px;
    background-image: cover;
    background-position: center;
}

.descripcion{
    padding: 0.5rem;
}


#total{
    padding-top: 1rem;
    color: yellow;
   
}
    

/* Propiedades */

    
   
   